@model List<LIbrary.ViewModels.BookListViewModel>

@if (Model != null && Model.Any())
{
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Description</td>
            <td>@book.LibraryName</td>
            <td>
                <div class="dropdown-center">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search-plus"></i>
                    </button>
                    <ul class="flex-grow-1 dropdown-menu">
                        <li class="dropdown-item" onclick="event.stopPropagation();"><b>Id:</b></li>
                        <li class="dropdown-item" onclick="event.stopPropagation();">@book.Id</li>
                        <li class="dropdown-item" onclick="event.stopPropagation();"><b>Authors:</b></li>
                        @if (book.Authors != null && book.Authors.Any())
                        {
                            @foreach (var authorName in book.Authors)
                            {
                                <li class="dropdown-item" onclick="event.stopPropagation();" style="text-align:start">@authorName</li>
                            }
                        }
                        else
                        {
                            <li class="dropdown-item" onclick="event.stopPropagation();" style="text-align:start">No Authors</li>
                        }
                    </ul>
                </div>
                <div class="dropdown-center">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item ajax-delete-book" href="#" data-book-id="@book.Id">Delete</a>
                        <a class="dropdown-item" href="/Book/Update?bookId=@book.Id">Update</a>
                    </div>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="4">No books available.</td></tr>
}